body, div, dl, dt, dd, h1, h2, h3, h4, h5, h6, p, pre, code, blockquote {
	margin:0;
	padding:0;
	border-width:0;
}
body {
	-epub-hyphens:auto;
}
@page {
	margin : 0px 0px 0px 0px;
}
div.Basic-Text-Frame {
	border-style:solid;
}
p._ {
	-epub-hyphens:none;
	-webkit-hyphens:none;
	color:#000000;
	font-family:Garamond, serif;
	font-size:0.833em;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.2;
	margin-bottom:2px;
	margin-left:24px;
	margin-right:24px;
	margin-top:2px;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:justify;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.Basic-Split {
	-epub-hyphens:none;
	-webkit-hyphens:none;
	color:#000000;
	font-family:Garamond, serif;
	font-size:1em;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.2;
	margin-bottom:5px;
	margin-left:0;
	margin-right:0;
	margin-top:5px;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:justify;
	text-decoration:none;
	text-indent:12px;
	text-transform:none;
	widows:1;
}
p.Centered-Basic {
	-epub-hyphens:none;
	-webkit-hyphens:none;
	color:#000000;
	font-family:Garamond, serif;
	font-size:1em;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.2;
	margin-bottom:2px;
	margin-left:0;
	margin-right:0;
	margin-top:5px;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:center;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.Chapter-Title {
	-epub-hyphens:none;
	-webkit-hyphens:none;
	color:#000000;
	font-family:Garamond, serif;
	font-size:2em;
	font-style:normal;
	font-variant:normal;
	font-weight:bold;
	line-height:1.2;
	margin-bottom:12px;
	margin-left:0;
	margin-right:0;
	margin-top:5px;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:center;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.Chapter-Title-Split {
	-epub-hyphens:none;
	-webkit-hyphens:none;
	color:#000000;
	font-family:Garamond, serif;
	font-size:2em;
	font-style:normal;
	font-variant:normal;
	font-weight:bold;
	line-height:1.2;
	margin-bottom:12px;
	margin-left:0;
	margin-right:0;
	margin-top:5px;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:center;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.First-paragraph {
	-epub-hyphens:none;
	-webkit-hyphens:none;
	color:#000000;
	font-family:Garamond, serif;
	font-size:1em;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.2;
	margin-bottom:5px;
	margin-left:0;
	margin-right:0;
	margin-top:5px;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:justify;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.Header {
	-epub-hyphens:none;
	-webkit-hyphens:none;
	color:#000000;
	font-family:Garamond, serif;
	font-size:1.167em;
	font-style:normal;
	font-variant:normal;
	font-weight:bold;
	line-height:1.2;
	margin-bottom:5px;
	margin-left:0;
	margin-right:0;
	margin-top:24px;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:center;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.Illustrations {
	-epub-hyphens:none;
	-webkit-hyphens:none;
	color:#000000;
	font-family:Garamond, serif;
	font-size:1em;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.2;
	margin-bottom:2px;
	margin-left:0;
	margin-right:0;
	margin-top:5px;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:center;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.Illustrations-split {
	-epub-hyphens:none;
	-webkit-hyphens:none;
	color:#000000;
	font-family:Garamond, serif;
	font-size:1em;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.2;
	margin-bottom:2px;
	margin-left:0;
	margin-right:0;
	margin-top:5px;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:center;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.Basic-Paragraph {
	-epub-hyphens:none;
	-webkit-hyphens:none;
	color:#000000;
	font-family:Garamond, serif;
	font-size:1em;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.2;
	margin-bottom:2px;
	margin-left:0;
	margin-right:0;
	margin-top:2px;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:justify;
	text-decoration:none;
	text-indent:12px;
	text-transform:none;
	widows:1;
}
p.Photo-caption {
	-epub-hyphens:none;
	-webkit-hyphens:none;
	color:#000000;
	font-family:Garamond, serif;
	font-size:1em;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.2;
	margin-bottom:24px;
	margin-left:24px;
	margin-right:24px;
	margin-top:2px;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:justify;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
li.TOC-List {
	-epub-hyphens:none;
	-webkit-hyphens:none;
	color:#000000;
	font-family:Garamond, serif;
	font-size:1em;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.2;
	list-style-position:inside;
	list-style-type:upper-roman;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
span.All-Caps {
	font-variant:normal;
	text-transform:uppercase;
}
span.Bold-Basic {
	font-family:"Adobe Garamond Pro Bold", serif;
	font-style:normal;
	font-weight:bold;
}
span.Hyperlink {
	color:#215e9e;
	text-decoration:underline;
}
span.Italic {
	color:#000000;
	font-family:Garamond, serif;
	font-size:1em;
	font-style:italic;
	font-variant:normal;
	font-weight:normal;
	text-decoration:none;
	text-transform:none;
}
span.Italic-Basic {
	font-family:"Adobe Garamond Pro", serif;
	font-style:italic;
	font-weight:normal;
}
p.ParaOverride-1 {
	margin-left:48px;
	text-indent:0px;
}
span.CharOverride-1 {
	font-size:0.833em;
}
span.CharOverride-2 {
	font-size:1.285em;
}
span.CharOverride-3 {
	font-size:1.167em;
}
._idGenDropcap-1 {
	float:left;
	font-size:4.849em;
	font-variant:normal;
	line-height:1;
	margin-bottom:-0.263em;
	margin-right:0.05em;
	margin-top:-0.112em;
	text-transform:uppercase;
}
#_idContainer000 {
	display:inline-block;
	height:613px;
	width:403px;
}
#_idContainer001 {
	display:inline-block;
	height:39px;
	width:37px;
}
#_idContainer007 {
	display:inline-block;
	height:436px;
	width:323px;
}
#_idContainer008 {
	display:inline-block;
	height:240px;
	width:325px;
}
#_idContainer009 {
	display:inline-block;
	height:261px;
	width:324px;
}
#_idContainer010 {
	display:inline-block;
	height:283px;
	width:324px;
}
#_idContainer011 {
	display:inline-block;
	height:251px;
	width:324px;
}
#_idContainer012 {
	display:inline-block;
	height:260px;
	width:325px;
}
#_idContainer013 {
	display:inline-block;
	height:284px;
	width:324px;
}
img._idGenObjectAttribute-1 {
	height:100%;
	min-width:100%;
	width:100%;
}
div._idGenObjectStyleOverride-1 {
	border-width:0px;
}
div._idGenObjectLayout-1 {
	margin:5px auto 0 auto;
	text-align:center;
}
